header {
    height: 7rem;
    padding: 1rem;
    background: var(--color-top-bar-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

figure {
    height: 100%;
}

figure img {
    height: 100%;
    width: auto;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}