<div class="product-container">
    <div class="product-card">
        <img src="/assets/img/stockImage.jpg" alt="Product Image" class="product-image">
        <div class="product-info">
            <h3 class="product-title">Product Name</h3>
            <p class="product-price">$19.99</p>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis eros vel arcu.</p>
            <button class="add-to-cart-button">Add to Cart</button>
        </div>
    </div>
    <div class="product-card">
        <img src="/assets/img/stockImage.jpg" alt="Product Image" class="product-image">
        <div class="product-info">
            <h3 class="product-title">Product Name</h3>
            <p class="product-price">$19.99</p>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis eros vel arcu.</p>
            <button class="add-to-cart-button">Add to Cart</button>
        </div>
    </div>
    <div class="product-card">
        <img src="/assets/img/stockImage.jpg" alt="Product Image" class="product-image">
        <div class="product-info">
            <h3 class="product-title">Product Name</h3>
            <p class="product-price">$19.99</p>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis eros vel arcu.</p>
            <button class="add-to-cart-button">Add to Cart</button>
        </div>
    </div>
    <div class="product-card">
        <img src="/assets/img/stockImage.jpg" alt="Product Image" class="product-image">
        <div class="product-info">
            <h3 class="product-title">Product Name</h3>
            <p class="product-price">$19.99</p>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis eros vel arcu.</p>
            <button class="add-to-cart-button">Add to Cart</button>
        </div>
    </div>
    <div class="product-card">
        <img src="/assets/img/stockImage.jpg" alt="Product Image" class="product-image">
        <div class="product-info">
            <h3 class="product-title">Product Name</h3>
            <p class="product-price">$19.99</p>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis eros vel arcu.</p>
            <button class="add-to-cart-button">Add to Cart</button>
        </div>
    </div>
    <div class="product-card">
        <img src="/assets/img/stockImage.jpg" alt="Product Image" class="product-image">
        <div class="product-info">
            <h3 class="product-title">Product Name</h3>
            <p class="product-price">$19.99</p>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis eros vel arcu.</p>
            <button class="add-to-cart-button">Add to Cart</button>
        </div>
    </div>    
    <div class="product-card">
        <img src="/assets/img/stockImage.jpg" alt="Product Image" class="product-image">
        <div class="product-info">
            <h3 class="product-title">Product Name</h3>
            <p class="product-price">$19.99</p>
            <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis eros vel arcu.</p>
            <button class="add-to-cart-button">Add to Cart</button>
        </div>
    </div>        
</div>
