<section>
    <nav ngClass="sidenav dark-scroll">
        <h3 class="category">Products</h3>
        <ul class="menu">
            <li routerActiveLink>
                <a routerLink="/">Insert New Product</a>
            </li>
        </ul>
    </nav>
</section>
<div class="results">
<ng-container class="row">
    <table>
        <th>NOMBRE</th>
        <th>DESCRIPCIÓN</th>
        <th>PRECIO</th>
        <th>DISPONIBLE</th>
        <th>CATEGORÍA</th>
        <th>ESTADO DE PRODUCTO</th>
        <tr *ngFor="let product of products; let i = index">
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.categoryId}}</td>
            <td>{{product.productStateId}}</td>
        </tr>
    </table>
</ng-container>
</div>

