header {
    height: 7rem;
    padding: 1rem;
    background: var(--color-top-bar-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

figure {
    height: 100%;
}

figure img {
    height: 100%;
    width: auto;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.2rem;
    transition: background-color 0.2s linear;
}

button {
    border: 0;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 0.2rem;
    background: none;
    transition: background-color 0.2s linear;
}

a:hover, a.active {
    background: var(--color-hover-background);
}

main {
    padding: 2rem;
}