<header>
    <figure>
        <img src="/assets/img/u-store.png" alt="U Store Logo">
    </figure>
    <div>
        <select name="categories" id="categories">
            <option value="Category1">Category1</option>
            <option value="Category2">Category2</option>
            <option value="Category3">Category3</option>
            <option value="Category4">Category4</option>
        </select>
        <input type="text" placeholder="Search...">
        <button type="button">SEARCH</button>
        
    </div>
    <nav>
        <ul>
            <li>
                <button class="material-icons-sharp" type="button">CART</button>
            </li>
            <li>
                <button class="material-icons-sharp" type="button">LIGHT</button>
            </li>
        </ul>
    </nav>
</header>